/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header and footer styling */
header,
footer {
  text-align: center;
  background-color: lightcoral;
  color: #fff;
  padding: 10px;
}

/* Main content styling */
main {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
}

/* Loading text styling */
#loading {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

/* Table styling */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: black;
}
